<h1>Payment Results</h1>

<p>APR:</p> 
  <div style="margin-left: 20px;">
  <p><%= apr %>%</p>
  </div>

<p>Number of years</p>
  <div style="margin-left: 20px;">
  <p><%= years %></p>
  </div>

<p>Principal</p>
<div style="margin-left: 20px;">
<p>$<%= principal %></p>
</div>

<p>Payment</p>
<div style="margin-left: 20px;">
<p>$<%= payment %></p>
</div>  

<a href="/payment/new">Calculate another payment</a>
