
<form action="/payment/results" method="get">
  <label for="apr">APR</label>
  <input id="apr" name="apr" placeholder="E.g. 5.42">

  <label for="years">Number of years</label>
  <input id="years" name="years" placeholder="How many years to repay?">

  <label for="principal">Principal</label>
  <input id="principal" name="principal" placeholder="How much principal?">

  <button type="submit">Calculate monthly payment</button>
</form>
