<h1>Random Results</h1>

<p>Minimum</p> 
  <div style="margin-left: 20px;">
  <p><%= min %></p>
  </div>

<p>Maximum</p>
  <div style="margin-left: 20px;">
  <p><%= max %></p>
  </div>

<p>Random Number</p>
<div style="margin-left: 20px;">
<p><%= random %></p>
</div>

<a href="/random/new">Pick another random number</a>
