
<form action="/random/results" method="get">
  <label for="min">Minimum</label>
  <input id="min" name="min" placeholder="E.g. 1.5">

  <label for="max">Maximum</label>
  <input id="max" name="max" placeholder="E.g. 4.5">

  <button type="submit">Pick random number</button>
</form>
