
<form action="/square/results" method="get">
  <label for="number">Enter a number</label>
  <input id="number" name="number" placeholder="What number do you want to take the square of?">

  <button type="submit">Calculate square</button>
</form>
